---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Paquete Inicial",
    price: "Gratis",
    popular: false,
    features: [
      "Recetas Vegetarianas Sostenibles",
      "Menús Aprobados por Nutricionistas",
      "Ingredientes Frescos de Productores Locales",
      "Embalaje Ecológico",
      "Soporte de Comunidad",
    ],
    button: {
      text: "Explorar Ahora",
      link: "/menu",
    },
  },
  {
    name: "Vida Saludable",
    price: {
      mensual: "$19",
      anual: "$16",
      descuento: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Inclusiones del Paquete Inicial",
      "Planes de Comida para Dietas Especiales",
      "Opciones de Productos Orgánicos",
      "Suscripción Semanal de Entregas",
      "Soporte al Cliente Prioritario",
    ],
    button: {
      text: "Ordenar Ahora",
      link: "/suscripciones",
    },
  },
  {
    name: "Experiencia Personalizada",
    price: "Personalizado",
    popular: false,
    features: [
      "Inclusiones de Vida Saludable",
      "Consulta de Menú Personalizada",
      "Creaciones Especiales del Chef",
      "Servicios de Catering para Eventos",
      "Asesor Nutricional Dedicado",
    ],
    button: {
      text: "Contáctanos",
      link: "/contacto",
    },
  },
];
---


<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios y planes</Fragment>
      <Fragment slot="desc">
        Tenemos estas propuestas para ti.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
