---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Escoge tus platos preferidos",
    description:
      "En NutriVeggie tenemos una gran variedad de platos veganos listos para ti.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% alimentos saludables",
    description:
      "Nos preocupamos por tu salud porlo que todos nuestros insumos son totalmente saludables",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Planes y guias para ti ",
    description:
      "Sabemos que llevar una dieta vegana puede ser complicado por eso ademas de ofrecerte la mejor comida tambien te enseñamos",
    icon: "bx:bxs-data",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para llevar un estilo de vida saludable, comodo y responsable
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    La comida vegetariana se considera parte del futuro alimentario global debido a su sostenibilidad ambiental, beneficios para la salud, preocupaciones éticas, innovación alimentaria y cambios culturales.
  </p>
</div>

<div class="video-container" style="display: flex; justify-content: center; align-items: center; height: 600px; padding-top: 40px;">
  <iframe width="1000" height="600" src="https://www.youtube.com/embed/D7riZgbeiWI?si=FzUfJICILjc0LIgR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>



<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
